<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Web In C</title>
        <link
            rel="icon"
            type="image/png"
            href="/public/img/favicon-16x16.png"
        />
        <link rel="stylesheet" href="/public/css/styles.css" />
    </head>
    <body>
        <h3>Base Layout</h3>
        {{> components/top_nav}}
        <div>{{content}}</div>
    </body>
</html>
